<template>
  <div>
    <ul>
      <div v-for="lst in list" :key="lst.id">
        <div>
          <H4>Match Results</H4>
          <li>
            <div>
              <span>Team: {{ lst.Team[0].Name }}</span>
              <span>Score: {{ lst.TeamOneScore }}</span>
              <span>Attacks: {{ lst.TeamOneAttackCount }}</span>
            </div>
          </li>
          <div v-for="player in lst.Team[0].Players" :key="player.ID">
            <li>
              <div>
                <span>&emsp; Player: {{ player.Name }}</span>
                <span> Score: {{ player.PlayerScore[0].Score }}</span>
                <span> Attacks: {{ player.PlayerScore[0].AttackCount }}</span>
              </div>
            </li>
          </div>
          <br>
          <li>
            <div>
              <span>Team: {{ lst.Team[1].Name }}</span>
              <span>Score: {{ lst.TeamTwoScore }}</span>
              <span>Attacks: {{ lst.TeamTwoAttackCount }}</span>
            </div>
          </li>
          <div v-for="player in lst.Team[1].Players" :key="player.ID">
            <li>
              <div>
                <span>&emsp; Player: {{ player.Name }}</span>
                <span> Score: {{ player.PlayerScore[0].Score }}</span>
                <span> Attacks: {{ player.PlayerScore[0].AttackCount }}</span>
              </div>
            </li>
          </div>
        </div>
      </div>
    </ul>
  </div>
</template>

<script>
import { getAll } from '~/api/apiCalls'

export default {
  name: 'List',
  data () {
    return {
      list: []
    }
  },
  created () {
    this.getList()
    setInterval(this.getList, 5000)
  },
  mounted () {
    this.getList()
  },
  methods: {
    getList () {
      getAll().then((response) => {
        this.list = response.data.MatchHistory
      })
    }
  }
}
</script>

<style scoped>

</style>
